@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/jquery-3.5.1.min.js"></script>
<div class="panel panel-primary" style="font-family:'Roboto', sans-serif;">
    <div style="margin-bottom:15px; text-align:center;">
    <button type="button" class="btn btn-primary btn-lg">Departments</button>
    </div>
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr style="text-align:center;">
                <th>Id</th>
                <th id="txtName">Name</th>
                <th>NumberOfEmployees</th>
                <th>
                    Actions
                </th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->
<script>

    $(document).ready(function () {
        debugger;
        $.ajax({
            type: "GET",
            url: "https://localhost:44362/api/Department",
            contentType: "text/html;charset=UTF-8",
            dataType: "json",

            success: function (data) {
                //alert(JSON.stringify(data));
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='Id'>" + item.id + "</td>" +
                        "<td id='Name'>" + item.name + "</td>" +
                        "<td id='NumberOfEmployees'>" + item.numberOfEmployees + "</td>" +
                        `<td style="text-align:center;">
                        <button type='button' id='button_1' class='btn btn-warning'>Edit</button>
                        <button type='button' id='button_2' class='btn btn-info'>Details</button>
                        <button type='button' id='button_3' class='btn btn-danger'>Delete</button>
                         </td>
                        `
                         +"</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function
        });

    });
</script>