@{
    ViewData["Title"] = "Privacy Policy";
}
<script src="~/js/jquery-3.5.1.min.js"></script>
<div class="panel panel-primary">
    <div class="panel-heading">
        Departments
    </div>
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>NumberOfEmployees</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        department.GetAllDepartments();
        console.log("Hello");
    })

    var department = {

        GetAllDepartments : function(){

            var obj = "";

            var Geturl = "https://localhost:44362/api/Department";

            window.department.GetAPI(Geturl,onSuccess,onFailed);
            function onSuccess(jsonData){
                debugger;
                obj = jsonData;
                $.each(jsonData,function(i, item){
                    var rows = "<tr>" +
                                "<td id='Id'>"+ item.Id +"</td>" +
                                "<td id='Name'>"+ item.Name +"</td>" +
                                "<td id='NumberOfEmployees'>" + item.NumberOfEmployees + "</td>" +
                                "</tr>" +
                                $('#Table').append(rows);
                });
            }
            function onFailed(error){
                window.alert(error.statusText);
            }
            return obj;

        },

        GetAPI:function(Geturl,successCallback,errorCallback){
            $.ajax({
                type:"GET",
                url: Geturl,
                dataType:"json",
                success:successCallback,
                error:errorCallback
            });
        },
    }
</script>
